body { 
    background: url(../images/background2.jpeg);
    background-size: cover;
    opacity: 70%;
}

#topText {
    color: rgb(57, 30, 30);
    font-size: 600%;
    font-family: 'Courier New', Courier, monospace;
}

#text {
    color: rgb(57, 30, 30);
    font-size: 150%;
}

.jumbotron {
    color: rgb(147, 142, 23);

}

/* h1, h2, h3 {
} */

.answer,
#timer {
	font-weight: 900;
}

#start {
    color: rgb(17, 109, 54);
    font-size: 50px;
    font-family: monospace;
}

.choices {
	border: groove 2px rgb(150, 129, 7);
	border-radius: 80%;
	margin: 0 30%;
}

#game {

}

